<div id="search-modern" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

        <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

            <div class="search" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>search</mat-icon>
                <input #searchInput placeholder="Search" fxFlex>
            </div>

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="result-info" fxLayout="row" fxLayoutAlign="start center">

            <span class="result-count h3 secondary-text">
                <span>{{foundItems.length}}</span>
                <span class="ml-4">Results</span>
            </span>
        </div>

        <div class="results">

            <div class="result-item" *ngFor="let item of searchItems; let i = index; trackBy: trackByUuid">
                <div class="title blue-800-fg">{{item.data.header}}</div>
                <div class="url green-800-fg">{{item.data.url}}</div>
                <div class="excerpt">{{item.data.excerpt}}</div>
                <div class="excerpt">{{item.data.id}}</div>
            </div>

            <div class="simple-pagination">

                <button mat-button class="pagination-item disabled" 
                        aria-label="Go to previous page" (click)="doLoadPage(currentPage - 1)">
                    <mat-icon>chevron_left</mat-icon>
                </button>

                <div *ngFor="let page of pageNumbers">
                    <button mat-button [ngClass]="{'pagination-item active': page === currentPage,
                                                   'pagination-item': page !== currentPage}"
                            [disableRipple]="true"
                            aria-label="Go to page "
                            *ngIf="page !== -1"
                            (click)="doLoadPage(page)">
                        <span>{{page}}</span>
                    </button>
                    <button mat-button class="pagination-item"
                            *ngIf="page === -1"
                            (click)="movePaginationForward()">
                        <span>...</span>
                    </button>
                    <button mat-button class="pagination-item"
                            *ngIf="page === -1"
                            (click)="movePaginationBack()">
                        <span>...</span>
                    </button>
                </div>

                <button mat-button class="pagination-item" aria-label="Go to next page" (click)="doLoadPage(currentPage + 1)">
                    <mat-icon>chevron_right</mat-icon>
                </button>

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
