<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img  *ngIf="!fn.emptyStr(contact.avatar)" [src]="contact.avatar" class="avatar contact-avatar huge m-0" [alt]="contact.first_name"/>
            <img *ngIf="fn.emptyStr(contact.avatar)" src="assets/images/avatars/profile.jpg" class="avatar contact-avatar huge m-0" [alt]="contact.first_name"/>

            <div class="contact-first_name mt-8">{{contact.first_name}} {{contact.last_name}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field [hidden]="newContact" appearance="outline" fxFlex>
                <mat-label>Name</mat-label>
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <input name="first_name" formControlName="first_name" matInput required>
                </mat-form-field>
                <mat-form-field [hidden]="!newContact" appearance="outline" fxFlex>
                    <mat-label>Name</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input type="text"
                           aria-label="Search First Name, Last Name And Email"
                           matInput
                           name="searchCtrl"
                           autocomplete='new-password'
                           [formControl]="searchCtrl"
                           [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let user of filteredUsers" [value]="user.first_name" (click)="selectUser(user)">
                        <img [hidden]="fn.showGenericAvatar(user.avatar)" class="avatar medium" src="{{ user.avatar }}" />
                        <img [hidden]="!fn.showGenericAvatar(user.avatar)" class="avatar" src="assets/images/avatars/profile.jpg">
                        <!-- <ngx-avatar class="my-avatar" size=40 [hidden]="!fn.showGenericAvatar(user.avatar)" name="{{ user.first_name }}"></ngx-avatar> -->
                        {{user.full_name}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Last Name</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="last_name" formControlName="last_name" matInput>
                </mat-form-field>
            </div>

            <div [hidden]="fn.isZeroUuid(contactForm.controls.user_id.value)" fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-slide-toggle color="accent" name="blockUser" matInput formControlName="blockUser">Block User</mat-slide-toggle>
            </div>
            <div hidden>
                <mat-form-field appearance="outline" fxFlex>
                    <input name="member_status" formControlName="member_status" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nickname</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <input name="nickname" formControlName="nickname" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Phone number</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input formControlName="mobile_no" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Email</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="email" formControlName="email" matInput type="email">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Company</mat-label>
                    <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                    <input name="company" formControlName="company" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Job title</mat-label>
                    <mat-icon matSuffix class="secondary-text">work</mat-icon>
                    <input name="job_title" formControlName="job_title" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepicker]="birthdayDatePicker" name="birthday" formControlName="birthday">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Address</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="address" formControlName="address" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Notes</mat-label>
                    <textarea name="notes" formControlName="notes" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>


        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',contactForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit' && fn.isZeroUuid(contactForm.controls.user_id.value)"
                mat-button
                color="accent"
                class="save-button"
                (click)="matDialogRef.close(contactForm)"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action !== 'edit' && !fn.isZeroUuid(contactForm.controls.user_id.value) && !contactForm.controls.blockUser.value"
        mat-button
        color="accent"
        class="save-button"
        (click)="matDialogRef.close(contactForm)"
        [disabled]="contactForm.invalid"
        aria-label="REQUEST">
            REQUEST
        </button>
        <button *ngIf="action !== 'edit' && !fn.isZeroUuid(contactForm.controls.user_id.value) && contactForm.controls.blockUser.value"
        mat-button
        color="accent"
        class="save-button"
        (click)="matDialogRef.close(contactForm)"
        [disabled]="contactForm.invalid"
        aria-label="BLOCK">
            BLOCK
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',contactForm])"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
