<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

            <!-- USER -->
            <img [hidden]="fn.showGenericAvatar(user.avatar)" class="avatar mr-16" src="{{ user.avatar }}" />
            <ngx-avatar size=40 [hidden]="!fn.showGenericAvatar(user.avatar)" name="{{ user.user_name }}"></ngx-avatar>
            <span class="h5">{{user.user_name}}</span>
            <!-- / USER -->

        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                        [ngClass]="{'active accent':filterBy ==='all'}">
                        <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All Contacts</span>
                    </a>
                </div>

                <div class="nav-item" aria-label="frequently contacted" (click)="changeFilter('frequent')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='frequent'}">
                        <div class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frequently contacted</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="starred" (click)="changeFilter('starred')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='starred'}">
                        <mat-icon class="amber-fg">star</mat-icon>
                        <div class="title">&nbsp;Starred Contacts</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="blocked" (click)="changeFilter('blocked')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='blocked'}">
                        <mat-icon class="secondary-text">block</mat-icon>
                        <div class="title">&nbsp;Blocked Contacts</div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->