<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">General Information</div>
            </header>

            <div class="content" *ngIf="about.general">
                <div class="info-line">
                    <div class="title">Gender</div>
                    <div class="info">{{about.general.gender}}</div>
                </div>

                <div class="info-line" *ngIf='showFullProfile'>
                    <div class="title">Birthday</div>
                    <div class="info">{{about.general.birthday}}</div>
                </div>

                <div class="info-line" *ngIf='showFullProfile'>
                    <div class="title">Locations</div>
                    <div class="info location" fxLayout="row" fxLayoutAlign="start center"
                         *ngFor="let location of about.general.locations">
                        <span>{{location}}</span>
                        <mat-icon class="s-16 ml-4">location_on</mat-icon>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">About Me</div>
                    <div class="info">{{about.general.about}}</div>
                </div>
            </div>

        </div>

        <div class="profile-box info-box work" fxLayout="column">

            <header class="accent">
                <div class="title">Work</div>
            </header>

            <div class="content" *ngIf="about.work">
                <div class="info-line">
                    <div class="title">Occupation</div>
                    <div class="info">{{about.work.occupation}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Skills</div>
                    <div class="info">{{about.work.skills}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Jobs</div>
                    <div class="info">{{about.work.jobs}}</div>
                </div>
            </div>
        </div>

        <div class="profile-box info-box contact" fxLayout="column" *ngIf='showFullProfile'>

            <header class="accent">
                <div class="title">Contact</div>
            </header>

            <div class="content" *ngIf="about.contact">
                <div class="info-line">
                    <div class="title">Address</div>
                    <div class="info">{{about.contact.address}}</div>
                </div>
                <div class="info-line">
                    <div class="title">Tel.</div>
                    <div class="info" *ngFor="let tel of about.contact.tel">
                        <span>{{tel}}</span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title">Website</div>
                    <div class="info" *ngFor="let website of about.contact.websites">
                        <span>{{website}}</span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title">Emails</div>
                    <div class="info" *ngFor="let email of about.contact.emails">
                        <span>{{email}}</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35" *ngIf='showFullProfile'>

        <div class="profile-box friends" fxLayout="column">

            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">
                    <button *ngIf="ownerOfProfile" mat-icon-button
                    aria-label="create new member" (click)="goToContacts()">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
                    Friends
                </div>

                <div class="more secondary-text">
                    <mat-icon *ngIf="friends.length > 10"
                    aria-label="show more friends" >expand_more</mat-icon>
                </div>
            </header>

            <div class="content" fxLayout="row wrap">
                <div class="friend" fxFlex="20" *ngFor="let friend of friends">
                    <button class="avatar-button" (click)="gotoProfile(friend)">
                        <img [hidden]="fn.showGenericAvatar(friend.avatar)" src="{{ friend.avatar }}" />
                        <ngx-avatar size=40 [hidden]="!fn.showGenericAvatar(friend.avatar)
                            " name="{{ friend.name }}"></ngx-avatar>
                    </button>
                </div>
            </div>

        </div>

        <div class="profile-box groups" fxLayout="column">

            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">
                    <button *ngIf="ownerOfProfile" mat-icon-button
                    aria-label="create new group" (click)="addNewGroup()">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
                    Groups
                </div>

                <div class="more secondary-text">
                    <mat-icon *ngIf="groups.length > 10"
                    aria-label="show more groups" >expand_more</mat-icon>
                </div>
            </header>

            <div class="content">

                <div class="group" *ngFor="let group of groups" fxLayout="row"
                     fxLayoutAlign="space-between center">

                    <div fxLayout="row" fxLayoutAlign="start center">

                        <div class="logo">{{group.name.substring(0,1)}}</div>

                        <div>
                            <div class="name">{{group.name}}</div>
                            <div class="category">{{group.category}}</div>
                            <div class="members">{{group.members}} people</div>
                        </div>
                    </div>

                    <button mat-icon-button aria-label="More">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </div>

        </div>

    </div>

</div>
