<div class="page-layout simple fullwidth" fxLayout="column">
    <div id="profile-photos-videos" class="content p-24">
        <div [hidden]="hideUpload">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                <form *ngIf="ownerOfProfile" class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column"
                    fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Folder Name</mat-label>
                            <input matInput formControlName="period" required>
                            <mat-icon matSuffix class="secondary-text">folder</mat-icon>
                            <mat-error>Folder Name is required!</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Info</mat-label>
                            <textarea matInput formControlName="info" required></textarea>
                            <mat-icon matSuffix class="secondary-text">info</mat-icon>
                            <mat-error>Info is required!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="button-row">
                    <button [hidden]="!form.invalid" mat-raised-button color="primary" class="cancel-button"
                        aria-label="CANCEL" (click)="doneUpload()">
                        CANCEL
                    </button>
                    </div>
                    <button #doneButton mat-raised-button [hidden]="form.invalid" color="accent" aria-label="DONE"
                        (click)="doneUpload()" [disabled]="disableDone">
                        DONE
                    </button>
                </form>
            </div>
            <app-image-file-upload #appImageUpload [hidden]="form.invalid" *ngIf="ownerOfProfile"
                [ownerOfPhotos]="ownerOfProfile" [periodId]="periodId" [period]="periodName" [infoStr]="periodInfo"
                (uploadStarted)="disableDone = true" (uploadEnded)="disableDone = false"
                (onFileInput)="onSubmit()"  profileType="USER">
            </app-image-file-upload>

        </div>

        <div *ngIf="hideUpload" fxLayout="row wrap">
            <div class="add-new-photos" *ngIf="ownerOfProfile && hideUpload" (click)="setUploadPeriod(undefined)">
                <mat-icon color="accent" aria-label="upload new photos">cloud_upload</mat-icon>
                <div>Upload New Photos</div>
            </div>
            <div class="period" *ngFor="let period of photosVideos; let i = index; trackBy: trackByUuid">
                <div class="period-title">
                    <span class="name">{{period.period}}</span>
                    <button *ngIf="ownerOfProfile" mat-icon-button color="accent" aria-label="upload new photos">
                        <mat-icon (click)="setUploadPeriod(period)">add_to_photos</mat-icon>
                    </button>
                    <div class="media">
                        <div class="div-preview">
                        <mat-spinner *ngIf="period.loadingMedia" class="periodMediaLoading"></mat-spinner>
                        <img class="preview" [src]="period.preview"  (click)="showAllMedia(period)">
                        </div>
                    </div>
                </div>

                <div *ngIf="period.showAllMedia" class="period-media">
                    <div class="title">{{period.info}}</div>
                    <div fxLayout="row wrap">
                        <div class="media" *ngFor="let media of period.medias; let i = index; trackBy: trackByUuid">
                            <div class="div-preview">
                                <img class="preview" [src]="media.preview" title="{{media.title}}" (click)="showFullImage(media)">
                            </div>

                            <div class="title">{{media.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>